<div [ngClass]="showRemoveModal ? 'show-modal' : 'modal-close'">
  <div class="table-caption">
    <caption>
      Employee Details List
    </caption>
    <div>
    <button [routerLink]="['/employees/createEmployee']">
      Create New Employee
    </button>
    <button (click)="openCreateModal()"><fa-icon [icon]="faAddressCard"></fa-icon></button>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Employee Id</th>
        <th>Employee Title</th>
        <th>Employee UserName</th>
        <th>Employee Department</th>
        <th>Employee Professional Skills</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeList">
        <th>{{ employee.id }}</th>
        <th>{{ employee.title }}</th>
        <th>{{ employee.userid }}</th>
        <th>{{ employee.department }}</th>
        <th>{{ employee.professionalSkills }}</th>
        <th>
          <button routerLink="/employees/editEmployee/{{ employee.$key }}">
            <fa-icon [icon]="faPenToSquare"></fa-icon>
          </button>
        </th>
        <th>
          <button (click)="deleteEmployee(employee.$key)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </th>
      </tr>
    </tbody>
  </table>
  <div *ngIf="employeeList.length">
    <app-charts [employeeData]="employeeList"></app-charts>
  </div>
</div>
<div *ngIf="showRemoveModal">
  <app-remove-employee-modal
    [employeeKey]="removeEmployeeKey"
    (cancelEvent)="closeModal($event)"
  >
  </app-remove-employee-modal>
</div>
